<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="./assets/iconodeFooter.png" alt="Logo de Hotel El Rosarino">
                </a>
            </figure>
        </div>
        <div class="box2">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos una empresa hotelera que busca ayudar a los clientes a tener una excelente experiencia dentro de nuestras instalaciones.</p>
            <p>Veni a conocernos, te esperamos!</p>
        </div>
        <div class="box3">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Hotel El Rosarino</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>




