<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="./assets/Hotel El Rosario-logos_black.png" alt="Logo de Hotel El Rosarino">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos una empresa hotelera que busca ayudar a los clientes a tener una excelente experiencia dentro de nuestras instalaciones.</p>
            <p>Veni a conocernos, te esperamos!</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Hotel El Rosario</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
