*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* ---------------------------------------------------------- */



body{
    background-color: #e5e5f7;
    background-size: 10px 10px;
    min-height: 100vh;
    background-image: url(/assets/imagenFondoReserva.jpg);
    background-size: cover;
    background-position: center center;
}
.formulario{
    background-color: #000;
    margin: auto;
    width: 400px;
    max-width: 450px;
    padding: 4.5em 3em;
    border-radius: 10px;
    /*box-shadow: 0 5px 10 px -5px rgb(0 0 0 / 30%);*/
    text-align: center;
    
}
.titulo_form{
    font-size: 2rem;
    margin-bottom: .5em;
    color: rgb(231, 184, 126)
}
.contenedor_form{
    margin-top: 3em;
    display: grid;
    gap: 2px;
}
.grupo_form{
    position: relative;
    color: rgb(231, 184, 126)
}
.ingreso_form{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);

}
.ingreso_form:focus + .label_form, .ingreso_form:not(:placeholder-shown) + .label_form{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #000;
}
.label_form{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(20px);
    transition: transform .5s, color ,3s;
}
.submit_form{
    background:tan;
    color: #000;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    margin-top: 43px;
}

.submit_form:hover{
    background:rgb(184, 163, 163);
}


.linea_form{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 228, 196, 0.623) ;
}

/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #0a141d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para etiquetas de formulario */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #c2994e;
  }
  
  /* Estilos para campos de entrada de formulario */
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilos para el botón de enviar */
  button[type="submit"] {
    background-color: #c2994e; /* Azul */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
  }
  
  /* Estilos para mensajes de error */
  .error-message {
    color: #ff0000; /* Rojo */
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Estilos para mensajes de éxito */
  .success-message {
    color: #228B22; /* Verde */
    font-size: 14px;
    margin-top: 5px;
  }

