
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <header>
        <div class="logo">
            <a routerLink="/">
                <img class="logoNav" src="./assets/logo.png" alt="logoNav">
              </a>
        </div>
        <nav class="container-up">
            <div class="menu">
                <a class="menu-item" routerLink="/" >HOME</a>
                <a class="menu-item" routerLink="/reservas" >RESERVAR </a>
                <a class="menu-item" routerLink="/habitaciones">HABITACIONES </a>
                <a class="menu-item" routerLink="/servicios">SERVICIOS </a>
                <a class="menu-item"routerLink="/ubicaciones">UBICACION </a>
                <a class="menu-item" routerLink="/consultas" >CONSULTAR RESERVA </a>
            </div>
        </nav>
    </header>
