/* CODIGO DEL MENU */ 

header{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: #c59d54;
    width: 100%;
    clear:both;
    display: flex;
    margin: 0;
}
.Menu{
    align-items: center;
    display: block;
    margin: 0;
}

.logo{
    display: flex;
}
.logo img{
    height: 74px;
    margin-right: 50px;
    width: auto;
    display: flex;
    margin-left: 15px;

}
.menu-item{
    margin-left: 80px;
    padding: 25px 0;
    float: left;
    list-style:none ;
    text-decoration: none;
    color: #444;
    font-weight: bold;
  }

/* --CSS DEL BODY-- */
/*
body{
    background-color: #0a141d;
    background-image: url(/Hotel/Imagenes/exterior.jpg);*/
