<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="habitaciones.component.css">
    <!--comando para poder ser responsive sobre mobile/web(no funciona)--> 
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--ICONOS-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script> 
    <title>Hotel El Rosarino</title>
</head>
<body>
    <div class="container-down">
        <div class="tarjeta">
            <div class="contenido">
                <h3 class="subtituloHabitacion">Habitacion Simple</h3>
                <div class="imagen"> <img src="./assets/habitacionSimple.jpg" alt=""></div> 
                <p>Esta habitacion cuenta con una cama indivudual</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="contenido">
                <h3 class="subtituloHabitacion">Habitacion Doble</h3>
                <div class="imagen"> <img src="./assets/HabitacionDoble.jpg" alt=""></div> 
                 <p>Esta habitacion cuenta con dos camas individuales o 1 matrimonial</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="contenido">
                <h3 class="subtituloHabitacion">Habitacion Triple</h3>
                <div class="imagen"> <img src="./assets/HabitacionDoble.jpg" alt=""></div> 
                 <p>Esta habitacion cuenta con una cama indivudual y una cama matrimonial o 3 camas individuales</p>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
</html>