<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="servicios.component.css">
    <!--comando para poder ser responsive sobre mobile/web(no funciona)--> 
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--ICONOS-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script> 
    <title>Hotel El Rosarino</title>
</head>
<body>
    <div class="container-down">
        <div class="tarjeta">
            <div class="contenido">
                <h3 class="subtituloservicio">Atencion 24hs</h3>
                <div class="imagen"> <img src="./assets/Recepción-del-hotel.jpg" alt=""></div> 
                <p>Ante cualquier dificultad que pueda ocurrir durante su reserva, podra comunicarse con el servicio del hotel</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="contenido">
                <h3 class="subtituloservicio">Pileta</h3>
                <div class="imagen"> <img src="./assets/Pileta.jpg" alt=""></div> 
                 <p>En la terraza del hotel se cuenta con una pileta de 5M de largo por 2M de ancho</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="contenido">
                <h3 class="subtituloservicio">Gimnasio</h3>
                <div class="imagen"> <img src="./assets/Gimnasio.jpg" alt=""></div> 
                 <p>El hotel cuenta con un gimansio interno, unicamente para aquellos que sean residentes del mismo</p>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
</html>