<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>HOME-HOTEL</title>
</head>
<body>
 <div class="container_home">
            <div class="data_home">
                <h3 class="subtitulo_home">
                    <br>
                    Descubre el Refugio de Lujo que Tú Mereces
                    <br>
                    <br>
                </h3>
                <p class="titulo_home">
                    <br>
                    Bienvenido a un rincón de serenidad y sofisticación
                <p> 
                 <p class="titulo_home">
                    <br>
                    <br>
                    En nuestro hotel, la excelencia y la hospitalidad se entrelazan 
                        para brindarte un refugio incomparable.
                 </p>
                <p class="titulo_home"> 
                    <br>
                    <br>
                         Disfruta Rosario como nunca lo hiciste!
                    Mira lo que te podemos ofrecer!
                </p>
                <br>
                <br>
                <br>
                <a routerLink="/habitaciones" class="boton_home">
                    Ver habitaciones
                </a>
                <br>
                <br>
                <br>
                <a routerLink="/servicios" class="boton_home">
                    Ver servicios   
                </a>
        </div>
        <div class="grid">
            <img class="imagen_1" src="./assets/exterior.jpg" alt="">
             
            <img class="imagen_2" src="./assets/Pileta.jpg" alt="">
            <img class="imagen_3" src="./assets/Recepción-del-hotel.jpg" alt="">
             
            <img class="imagen_4" src="./assets/HabitacionDoble.jpg" alt="">

            <img class="imagen_5" src="./assets/HabitacionDoble.jpg" alt="">
    </div>
    <!--<carousel>
        <slide>
          <img src="/Hotel/Imagenes/habitacionSimple.jpg" alt="Imagen 1">
        </slide>
        <slide>
          <img src="/Hotel/Imagenes/habitacionSimple.jpg" alt="Imagen 2">
        </slide>
        Agrega más slides según tus necesidades
    </carousel>  -->

</div> 
<!--<div class="container_home2">
    <div class="data_home">
        <h3 class="subtitulo_home">
            HABITACIONES
        </h3>
        <p class="titulo_home">
                La mayor comodidad que podes encontrar
        </p>
        <p>
            Descubrila a un click
        </p>
        <a href="../habitacione/habitacione.component.html" class="boton_home">
            Ver habitaciones
        </a>
</div>
</div> 
-->
<div class="container_home3">
    <div class="data_home2">
        <h3 class="subtitulo_home">
            RESERVA YA
        </h3>
        <br>
            <p class="titulo_home">¡Reserve su estancia ahora!</p>
            <br>
            <a routerLink="/reservas" class="boton_home">
                Reservar ya
            </a>
        </div>
</div>

</body>
<app-footer></app-footer>
</html>
